@{
    ViewData["Title"] = "Kontakt";
}
<!DOCTYPE html>
<html lang="pl-PL">
<head>
</head>
<body>
    <div id="DaneFirmy">
        <h2>@ViewData["Title"]</h2>
        <p>
            Jesteśmy firmą, która zajmuje się sprzedażą filmów w wersji cyfrowej. Wszystkich klientów
            zapraszamy do przeglądania naszych ofert. W razie problemów na dole znajdują się
            dane kontaktowe do naszych siedzib jak i emailów
        </p>
        <div class="siedziby">
            <div class="dom">
                <div class="dach"></div>
                <div class="budynek">
                    <address>
                        Kontakt do pierwszej siedziby <br />
                        ul. kupa 18<br />
                        31-280 Kraków<br />
                        <abbr title="Phone">Telefon:</abbr>
                        523 989 928
                    </address>
                </div>
            </div>
            <div class="dom">
                <div class="dach"></div>
                <div class="budynek">
                    <address>
                        Kontakt do drugiej siedziby <br />
                        ul. Władysława Łokietka 79<br />
                        31-280 Kraków<br />
                        <abbr title="Phone">Telefon:</abbr>
                        583 098 928
                    </address>
                </div>
            </div>
            <div class="dom">
                <div class="dach"></div>
                <div class="budynek">
                    <address>
                        Dodatkowe informacje <br />
                        NIP: 9452156998<br />
                        REGON: 121495203<br />
                        KRS: 0000395171<br />
                        Kapitał zakładowy: 2 811 500 zł<br />
                        <abbr title="Phone">Telefon:</abbr>
                        583 098 928
                    </address>
                </div>
            </div>
        </div>
        <address>
            <strong>Support:</strong> <a href="mailto:Support.sklep@sklep.pl">Support.sklep@sklep.pl</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing.sklep@sklep.pl">Marketing.sklep@sklep.pl</a><br />
            <strong>Technology:</strong> <a href="mailto:Technology.sklep@sklep.pl">Technology.sklep@sklep.pl</a>
        </address>
    </div>
</body>
</html>
