@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Strona główna";

    Baza baza = new Baza();
    var spr = baza.test;
}
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/index.css" />
</head>
<div class="image">
    <img src="~/images/index/index.jpg">
    </div>
<p>Dlatego nasz serwis umożliwia wykupienie filmów drogą elektroniczną.
    Wszystkie wypożyczone filmy będą znajdywały się na inwidualnym koncie, a dzięki
    naszym usługom klient może oglądać filmy jeśli je wcześniej pobrał w trybie
    offline. Zapewniamy najlepszą jakość video jak i dźwięku</p>
<br />
@spr




