@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Strona główna";
    string weryfikacja = Context.Session.GetString("Login");
    int Zam=-1;
    if (Context.Session.GetInt32("WykZam") != null)
    {
        Zam = (int)Context.Session.GetInt32("WykZam");
    }

}


@if (!String.IsNullOrEmpty(weryfikacja))
{
    <div style="text-align:center"><h1>Witaj <u>@weryfikacja</u></h1>
    <h2>Życzymy udanych zakupów</h2>
    <img src="~/images/witaj.jpg" style="border-radius:20%"/></div>
}
else if (!String.IsNullOrEmpty(@ViewData["logowanie"].ToString()))
{
    <script>alert("Logowanie się nie powiodło");</script>

}
else
{
    <script>alert("Brak dostępu");</script>
}


@if (Zam== 1)
{
    <script>alert("Zamównienie zostało zrealizowane");</script>
}
else if (Zam == -1)
{

}
else
{
    <script>alert("Operacja nie powiodła się");</script>
}
